<main id="main">

  <!-- ======= Whu Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container">

      <div class="section-title">
        <h2>Why choose <span>Our Restaurant</span></h2>
        <p>So that we may be able to achieve the pleasures and pleasures of life.</p>
      </div>

      <div class="row">
        <% count = 0 %>
        <% @why_chooses.each do |why_choose| %>
          <div class="col-lg-4">
            <div class="box">
              <span><%= count = count + 1 %></span>
              <h4><%= why_choose.title %></h4>
              <p><%= why_choose.description %></p>
            </div>
          </div>
        <% end %>


      </div>

    </div>
  </section><!-- End Whu Us Section -->

  <!-- ======= Menu Section ======= -->
  <section id="menu" class="menu">
    <div class="container">

      <div class="section-title">
        <h2>Check our tasty <span>Menu</span></h2>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="menu-flters">
            <% category_count = 0 %>
            <% @categories.each do |category| %>
              <li data-filter=".filter-<%= category&.name&.parameterize %>" class="<%= category_count==0 ? "filter-active" : "" %>"><%= category.name %></li>
              <% category_count += 1 %>
            <% end %>
            <li data-filter="*" >Show All</li>
          </ul>
        </div>
      </div>

      <div class="row menu-container">

        <% @menus.each do |menu| %>
          <div class="col-lg-6 menu-item filter-<%= menu&.category&.name&.parameterize %>">
            <div class="row">
              <div class="col-2">
                <img src="<%= menu.image.present? ? url_for(menu.image) : "" %>" alt="" class="img-fluid">
              </div>
              <div class="col-10">
                <div class="menu-content">
                  <a href="#"><%= menu.name %></a><span><%= menu.price %> SAR</span>
                </div>
                <div class="menu-ingredients">
                  <%= menu.gradients %>
                </div>
              </div>
            </div>
          </div>

        <% end %>

      </div>

    </div>
  </section><!-- End Menu Section -->


  <!-- ======= Specials Section ======= -->
  <section id="specials" class="specials">
    <div class="container">

      <div class="section-title">
        <h2>Check our <span>Specials</span></h2>
        <p>So that we may be able to achieve the pleasures and pleasures of life.</p>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <% count_tab = 0 %>
            <% @check_specials.each do |check_special| %>
              <li class="nav-item">
                <a class="nav-link <%= count_tab == 0 ? 'active show' : 'show' %>" data-bs-toggle="tab" href="#tab-<%= count_tab = count_tab + 1 %>"><%= check_special.name %></a>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            <% count_tab_active = 0 %>
            <% @check_specials.each do |check_special| %>
              <div class="tab-pane <%= count_tab_active == 0 ? 'active show' : 'show' %>" id="tab-<%= count_tab_active = count_tab_active + 1 %>">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3><%= check_special.title %></h3>
                    <p class="fst-italic">Who is to follow the praises of his labors, who to the wise dila parde sonata
                      raqer a video</p>
                    <p><%= check_special.description %></p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="<%= check_special.image.present?  ? url_for(check_special.image) : "" %>" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Specials Section -->


  <!-- ======= Book A Table Section ======= -->
  <section id="book-a-table" class="book-a-table">
    <div class="container">

      <div class="section-title">
        <h2>Book a <span>Table</span></h2>
        <p>So that we may be able to achieve the pleasures and pleasures of life.</p>
      </div>

      <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form">
        <div class="row">
          <div class="col-lg-4 col-md-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
            <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group mt-3">
            <input type="text" name="date" class="form-control" id="date" placeholder="Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group mt-3">
            <input type="text" class="form-control" name="time" id="time" placeholder="Time" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group mt-3">
            <input type="number" class="form-control" name="people" id="people" placeholder="# of people" data-rule="minlen:1" data-msg="Please enter at least 1 chars">
            <div class="validate"></div>
          </div>
        </div>
        <div class="form-group mt-3">
          <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
          <div class="validate"></div>
        </div>
        <div class="mb-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your
            reservation. Thank you!
          </div>
        </div>
        <div class="text-center">
          <button type="submit">Send Message</button>
        </div>
      </form>

    </div>
  </section><!-- End Book A Table Section -->


  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container ">
      <div class="section-title">
        <h2><span>Contact</span> Us</h2>
      </div>
<!--      <div class="row">-->
<!--        <div class="col-md-5 col-sm-12 col-xl-5 ">-->
<!--          <div class="section-title">-->
<!--            <div class="address-content">-->
<!--            <a  class="address-a" href="https://www.google.com/maps/place/QM2C%2B8H8+Finsa%D8%8C+%D8%A7%D9%84%D9%85%D9%84%D9%83+%D9%81%D9%87%D8%AF%D8%8C%D8%8C+King+Fahd,+Riyadh+12274,+Saudi+Arabia%E2%80%AD/@24.750799,46.6714548,17z/data=!4m2!3m1!1s0x3e2efd9d6c255f23:0x8ca5a4a033deafdb" target="_blank">-->
<!--            <p>King Saud Road, Olaya Riyadh</p>-->
<!--            </a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-md-7 col-sm-12 col-xl-7 ">-->
<!--          <a href="https://www.google.com/maps/place/QM2C%2B8H8+Finsa%D8%8C+%D8%A7%D9%84%D9%85%D9%84%D9%83+%D9%81%D9%87%D8%AF%D8%8C%D8%8C+King+Fahd,+Riyadh+12274,+Saudi+Arabia%E2%80%AD/@24.750799,46.6714548,17z/data=!4m2!3m1!1s0x3e2efd9d6c255f23:0x8ca5a4a033deafdb" target="_blank">-->
<!--          <div class="container mt-5">-->
<!--            <img src="assets/contact-location.png" class="img-height-width">-->
<!--          </div>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
    </div>
<!--      <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>-->
<!--    </div>-->

    <div class="container mt-5">

      <div class="info-wrap">
        <div class="row">
          <div class="col-lg-3 col-md-6 info">
            <a href="https://maps.app.goo.gl/M3kgNPSVvMc1ugfw8"><i class="bi bi-geo-alt"></i></a>
            <h4>Location:</h4>
            <a class="text-decoration-without-line" target="_blank" href="https://maps.app.goo.gl/M3kgNPSVvMc1ugfw8"><p>Al Imam Saud Ibn Abdul Aziz Branch Rd Al Olaya, Riyadh 12274, Saudi Arabia</p> </a>
          </div>

          <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
            <i class="bi bi-clock"></i>
            <h4>Open Hours:</h4>
            <p>Sunday-Saturday:<br>10:00 AM - 1:00 AM</p>
          </div>

          <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>contact@shrimphouse.com<br></p>
          </div>

          <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
            <i class="bi bi-phone"></i>
            <h4>Call:</h4>
            <p>+966 55 439 9793<br></p>
          </div>
        </div>
      </div>

      <form action="forms/contact.php" method="post" role="form" class="php-email-form">
        <div class="row">
          <div class="col-md-6 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
          </div>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
          </div>
        </div>
        <div class="form-group mt-3">
          <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
        </div>
        <div class="form-group mt-3">
          <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
        </div>
        <div class="my-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <div class="text-center">
          <button type="submit">Send Message</button>
        </div>
      </form>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

